{% extends 'base.html' %}

{% block content %}
    <style>
        #errors {
            list-style: none;
            color: red;
        }
    </style>

    {% if messages|length > 0 %}
    <div class="row">
        <table class="table">
                <thead>
                    <tr>
                        <th class="w-25">Date</th>
                        <th class="w-70">Message</th>
                        <th class="w-5"><a class="button float-right" href="{% url 'clear_all' %}">Clear All</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in messages %}
                        <tr>
                            <td>{{ m.pub_date }}</td>
                            <td>{{ m.text }}</td>
                            <td/>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% else %}
        <div class="text-center">
            <br/>
            <h5>There are no messages.</h5>
            <br/>
        </div>
    {% endif %}

    <form class="form-group" id="message-post" method="POST" action="{% url 'index' %}">

        {% csrf_token %}

        <div class="row">
            <div class="col-md-12" align="center">
                <p id="errors" class="text-center">
                    {{ msg_form.text.errors.as_text }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-group" id="message">
                {{ msg_form.text }}
                <input type="submit" value="Submit">
            </div>
        </div>

    </form>

    <script>
        $('#message').keyup(function (event) {
            if (event.keyCode == 13) {
                $('#message-post').submit();
            }
        });
    </script>
    
{% endblock %}
